@media screen and (max-width:1400px) {
.header_top{
    font-size: 12px;
max-width: 1300px !important;
}

.off_left{
    margin-bottom: 30px;
}

.off_left_con{
    text-align: center;
    justify-content: center;}

.poro_main_img{
    height: 135px;
    width: 120px;


}

.Meatigo{display: none;}

    
.main_botom_right_ul{
    gap: 1.4rem;
}
}

@media screen and (max-width:1024px) {
   
.main_botom_right_bottom{
        width: 230px !important;
        margin-left: -5px !important;
        
}


.main_botom_right_bottom_tar{
    width: 230px !important;
    margin-left: -5px !important;
}

.main_top{
    max-width:900px ;
}

.accont_my{display: none;}

.vic_co{gap: 0.7rem;}

.ul-top{width: 600px;}

.fasttt{margin-top: 60px !important;}

.poro_main_img{
    height: 100px;
    width: 90px;
}

.poro_main_img_m{
    margin-bottom: 15px;
}

.ss{font-size: 12px;
margin-left: 5px;}

.main_botom_right_ul{
    gap: 1rem;
}

.look_book{
    margin-top: -90px !important;
}
.Meatigo{display: inline-block;}
}

@media screen and (max-width:992px) {
 
.on_none{display: none;}

.owr-best{ width: 310px ;
    height: 335px;
}

.fasttp{
    flex-direction: column;
}

.fastt{
    padding: 50px;
    width: 100% !important;
}

.fasttt{margin-top: 3px !important;}

.h_top{
height: 70px;

}



.header_botom{
    justify-content: space-between;
    margin:20px 20px 0px 20px ;
}
}

@media screen and (max-width:768px) {
    .h_top{display: none;}
}