@media screen and (max-width:1400px) {
.header_top{
    font-size: 12px;
max-width: 1300px !important;
}

.off_left{
    margin-bottom: 30px;
}

.off_left_con{
    text-align: center;
    justify-content: center;}

.poro_main_img{
    height: 135px;
    width: 120px;


}

    

}

@media screen and (max-width:1024px) {
   
.main_botom_right_bottom{
        width: 250px !important;
        margin-left: 0px !important;
        display: none;
}

}