.header_top{background: #417394;
font-size: 14px;
height: 42px;
display: flex;
justify-content: space-between;
align-items: center;
}

.English_border{
    border-right: 1px white solid;
    margin-right: 10px;
    padding-right:10px ;
}

.ul-top{
    width: 704px;
   list-style: none;
   
}

.header_botom{margin-top: 20px;
align-items: center;
}

.h_top{height: 142px;}

.vic-img{
    display: flex;
    width: 50px;
    height: 30px;
    justify-self: start;
    border-right: 1px solid rgba(74, 85, 104, 0.5);
    ;
}

.vic-img img{
    width: 24px;
    height: 24px;
    padding-right:5px ;
   
}

.vic_co{
    height: 100pxcd;
}

.main_top_left{
    background-image: url("../img/b.jpg");
      
}

.main_top_right{
    background-image: url("../img/z.png");

}

.main_top{height: 597px;}
   
.main_top_left_d{
    padding-top: 80px;
    margin-left: 80px;
}
