
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}









.header_top{background: #417394;
font-size: 14px;
height: 42px;
display: flex;
justify-content: space-between;
align-items: center;
}

.English_border{
    border-right: 1px white solid;
    margin-right: 10px;
    padding-right:10px ;
}

.ul-top{
    width: 704px;
   list-style: none;
   
}

.ul_top_a{
    text-decoration: none;
    color: black;
}

.ul_top_a:hover{
    color: aquamarine;
    
}

.header_botom{margin-top: 20px;
align-items: center;
}

.h_top{height: 142px;}

.vic-img{
    display: flex;
    width: 50px;
    height: 30px;
    justify-self: start;
    border-right: 1px solid rgba(74, 85, 104, 0.5);
    ;
}

.vic-img img{
    width: 24px;
    height: 24px;
    padding-right:5px ;
   
}

.vic_co{
    height: 100pxcd;
}

.main_top_left{
    background-image: url("../img/b.jpg");
      
}

.main_top_right{
    background-image: url("../img/z.png");

}

.main_top{height: 597px;}
   
.main_top_left_d{
    padding-top: 80px;
    margin-left: 80px;
}


.main_top_left_d_off{
    width: 70px;
    height: 30px;
    text-align: center;
    
    
    background-color: rgb(249, 193, 193);
    border-radius:15px ;
    -webkit-border-radius:15px ;
    -moz-border-radius:15px ;
    -ms-border-radius:15px ;
    -o-border-radius:15px ;
}

.fs_b{
    font-size: 40px;
}

.Shop_Now{
    display: inline-block;
    margin-top: 20px;
    width: 130px;
    height: 50px;
}

.fastt{
    background-color:rgba(191, 191, 191, 0.2);
    width: 250px !important;
    height: 80px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.align-items-center{
    align-items: center !important;
   
}

.main_botom{
    height: 1807px;
    
}

 
.main_botom_left{
    height:1783px ;

}

.main_botom_left_bottom{
    margin-top: 40px;
}

.main_botom_right{
    width: 330px;
    height: 587px;
    background-color: rgba(248, 248, 248, 1);
    ;

}

.coli_bottom{
    background-color: rgba(248, 248, 248, 1);
    width: 150px;
    height: 150px;
    margin: 5px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main_botom_left_border{
    width: 30px;
    opacity: 60%;
}

.main_botom_left_right{
    width: 200px;
    height: 35px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-top: 20px;
}

.poro_main{
    height: 309px;
    border: 1px solid rgba(238, 238, 238, 1);
}

.poro_main_button{
    width: 37px;
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(247, 247, 247, 1);
    border: none;
}

.khat{border: black 1px solid;
width: 130px;
opacity: 50%;}

.main_botom_right_ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-left:-30px ;
   
}

.main_botom_right_bottom{
    margin-left: -12.5px;
    margin-top: 60px;
    background-image: url('../img/salam.jpg');
    width: 330px;
    height: 587px;
}


.New_Arrival{
    margin-top: 20px !important;
   font-size: x-large;
    color: rgb(253, 201, 30);
}

.Desk_Table{
    margin-top: -20px;
    font-size: 30px;
}

.Selling_of{
    margin-top: -20px;
    font-size: 13px;
    opacity: 60%;
}

.off_left{
    height: 162px;
    width: 475px !important;
    background-image: url('../img/50left.jpg') ;
}

.off_right{
    width: 475px !important;
    background-image: url('../img/50right.jpg');
}

.offer_five{
    font-size: 29px;
    color: rgba(255, 179, 33, 1);
}

.Restyling{
    color:rgba(65, 115, 148, 1);
    font-size: 24px;
}   

.Restyling_y{
    font-size: 24px;
    opacity: 80%;
    color: rgba(65, 115, 148, 1);
}

.Restyling_p{
    line-height: 0%;
}

.main_botom_right_bottom_tar{
    width: 330px;
    height: 420px;
    margin-left: -12.5px;
    margin-top: 20px;
    background-color: rgba(248, 248, 248, 1);
    ;
}

.ss{
    margin-top: -15px;
    margin-right: 5px;
}

.look_book{
    margin-top: -70px;
    height: 290px;
    background-image: url('../img/zar.jpg');
}

.look_book_child{
    margin-top: 20px;
    margin-left: 200px;
}

.look_book_child_one{
    font-style: italic;
    font-size: 22px;
    color: rgba(255, 179, 33, 1);
}

.look_book_child_two{
    font-size: 44px;
}

.look_book_child_twoo{
    font-size: 44px;
    color: rgb(38, 154, 255);
}

.owr-best{
    width: 320px !important;
   height: 435px;
    border: 1px solid rgb(114, 114, 114);
}

.footer_top{
    height:210px ;
    background-image: url('../img/footer_top.jpg');
}

.footer_top_c{
    margin-top: 30px !important;
    margin-left: 250px;
    line-height: 17px;
}

.footer_top_one{
    font-size: 28px;
    font-weight: bold;
}

.footer-top-two{
    font-size: 16px;
    color: rgb(216, 155, 0);
}

.footer-top-three{
    width: 500px;
    height: 45px;
    background-color: rgb(255, 255, 255);
}

.Shop_Noww{
    opacity: 80%;
}

.afii::after{
    
    content:'';
    width: 30px;
    position: absolute;
    height: 30px;
    background-color: rgba(65, 115, 148, 1);

}

.afii{
    position: relative;
}

.footer-botom{
    width: 100% !important;
}

.footer_bot{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}