.header_top{background: #417394;
font-size: 14px;
height: 42px;
display: flex;
justify-content: space-between;
align-items: center;
}

.English_border{
    border-right: 1px white solid;
    margin-right: 10px;
    padding-right:10px ;
}

.ul-top{
    width: 704px;
   list-style: none;
   
}

.ul_top_a{
    text-decoration: none;
    color: black;
}

.ul_top_a:hover{
    color: aquamarine;
    
}

.header_botom{margin-top: 20px;
align-items: center;
}

.h_top{height: 142px;}

.vic-img{
    display: flex;
    width: 50px;
    height: 30px;
    justify-self: start;
    border-right: 1px solid rgba(74, 85, 104, 0.5);
    ;
}

.vic-img img{
    width: 24px;
    height: 24px;
    padding-right:5px ;
   
}

.vic_co{
    height: 100pxcd;
}

.main_top_left{
    background-image: url("../img/b.jpg");
      
}

.main_top_right{
    background-image: url("../img/z.png");

}

.main_top{height: 597px;}
   
.main_top_left_d{
    padding-top: 80px;
    margin-left: 80px;
}


.main_top_left_d_off{
    width: 70px;
    height: 30px;
    text-align: center;
    
    
    background-color: rgb(249, 193, 193);
    border-radius:15px ;
    -webkit-border-radius:15px ;
    -moz-border-radius:15px ;
    -ms-border-radius:15px ;
    -o-border-radius:15px ;
}

.fs_b{
    font-size: 40px;
}

.Shop_Now{
    display: inline-block;
    margin-top: 20px;
    width: 130px;
    height: 50px;
}

.fastt{
    background-color:rgba(191, 191, 191, 0.2);
    width: 250px !important;
    height: 80px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.align-items-center{
    align-items: center !important;
   
}

.main_botom{
    height: 1807px;
    
}

 
.main_botom_left{
    height:1783px ;

}

.main_botom_left_bottom{
    margin-top: 40px;
}

.main_botom_right{
    width: 382px;
    height: 587px;
    background-color: rgba(248, 248, 248, 1);
    ;

}

.main_botom_left_border{
    width: 30px;
    opacity: 60%;
}

.main_botom_left_right{
    width: 200px;
    height: 35px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-top: 20px;
}

.poro_main{
    height: 309px;
    border: 1px solid rgba(238, 238, 238, 1);
}

.poro_main_button{
    width: 37px;
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(247, 247, 247, 1);
    border: none;
}

.khat{border: black 1px solid;
width: 130px;
opacity: 50%;}

.main_botom_right_ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-left:-30px ;
   
}